@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
}

header{
    background:  url(../img/1.jpg) no-repeat top center;
    background-size: contain;
    height: 1080px;

    position: relative;
}

header > h1{
    text-align: center;
    position: absolute;

    top: -50%;
}



header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 10px 3px 10px;
    
}

header a:hover{  
    /*border-bottom: 1.5px solid white;*/
    color: rgb(35, 98, 187);
    transition: 0.5s;
    
}

nav{
    text-align: right;
}

