@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(77, 60, 97);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    text-align: justify;
}

header{
   text-align: center;
   padding: 10px;
}



header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 10px 3px 10px;
    
}

header a:hover{  
    /*border-bottom: 1.5px solid white;*/
    color: rgb(35, 98, 187);
    transition: 0.5s;
    
}

nav{
    text-align: right;
}

main{
   

    max-width: 1370px;
    
    margin:auto;
    padding: 10px;

    border-radius: 0px 0px 10px 10px;
}

main h1{
    color: white;
    margin: 5px;
    text-indent: 10px;
}

main h2{
    color: #2F1C6A;
    text-align: center;
}

main .conteudo{
   
    background-color: rgb(255, 255, 255);
    
    margin: 5px;
    padding: 10px;

    max-width: 300px;

    border-radius: 10px;
    margin: auto;

    color: rgb(163, 163, 163);

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.19);
}

main a{
    text-decoration: none;
}

#img01{

   width: 100%;
   border-radius: 10px;
}

main .h2{
   
    

    border-radius: 10px;
    max-width: 200px;
    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.saiba-mais{

    display: block;

   padding: 10px;

   margin-top: 10px;
    
   text-align: center;

   background-image: linear-gradient(to right, #301c6abd, rgba(127, 81, 159, 0.645));

   border-radius: 7px;

   font-weight: bold;

   color: white;

   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);

   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.495);
}

.saiba-mais:hover{

    margin-top: 7px;

    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.473);

    transition: 0.3s;
}

